/*Style for user*/
.edit_icon {
  font-size: 17px;
  font-weight: bold;
}

.btn-outline-info:hover i {
  color: black !important;
}

.btn-outline-warning:hover i {
  color: black !important;
}

.btn-outline-danger:hover i {
  color: black !important;
}

.fa-angle-up.close {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}
.fa-angle-up.open {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}
.ck-editor__editable_inline {
  min-height: 200px;
}

/*Style for question*/
.khung {
    position: relative;
    margin-bottom: 35px;
    margin-top: 20px;
}
.vachngang {
    border-top: 1px solid #6351ce;
}
.danhmuc {
    font-weight: bold;
    font-size: 20px;
    background: #fff;
    position: absolute;
    top: -15px;
    left: 40%;
    padding-right: 20px;
}

/* tree view */
.tree, .tree ul {
  margin:0;
  padding:0;
  list-style:none
}
.tree ul {
  margin-left:1em;
  position:relative
}
.tree ul ul {
  margin-left:.5em
}
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid
}
.tree li {
  margin:0;
  padding:0 1em;
  line-height:2em;
  color:#369;
  font-weight:700;
  position:relative
}
.tree ul li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0
}
.tree ul li:last-child:before {
  background:#fff;
  height:auto;
  top:1em;
  bottom:0
}
.indicator {
  margin-right:5px;
}
.tree li a {
  text-decoration: none;
  color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
  text-decoration: none;
  color:#369;
  border:none;
  background:transparent;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  outline: 0;
}

